<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <script src="{{ url_for('static', filename='game.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>{% block title %}Default title{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <h1>Simple Idle Game</h1>
    <div id="navigation">
        {% for tab in tabs %}
            <button class="tab-link" data-target="tab{{ loop.index }}">{{ tab.name }}</button>
        {% endfor %}
    </div>
    <div id="content">{% block content %}Default content{% endblock %}</div>
    <div id="footer">
        {% block footer %}Default footer{% endblock %}
    </div>
</body>
</html>