body {
  font-family: Arial, sans-serif;
  text-align: center;
}
  
#game-container {
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
}
  
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
}
  
#points {
  font-weight: bold;
}

.button_label {
    float:left;
}

.button_amount {
    overflow: hidden;
}

.buyableGenerator {
  background-color: #cccccc;
}

.notBuyableGenerator {
  background-color: #999999;
}