body {
  font-family: Arial, sans-serif;
  text-align: center;
}
  
#game-container {
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  max-width: 400px;
}
  
button {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  position: relative;
  min-height: 1.8cm;
}

.button_generator {
  padding-bottom: 20px;
}

#points {
  font-weight: bold;
}

.button_label {
    float:left;
}

.button_amount {
    overflow: hidden;
}

.button_production {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: small;
}

.button_cost {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  font-size: small;
}

.buyableGenerator {
  background-color: #cccccc;
}

.notBuyableGenerator {
  background-color: #999999;
}